---
import Layout from "src/layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout>
  <Navbar />

  <h1 class="text-4xl font-bold mt-16 mb-12"> Projects </h1>

  <div class="grid gap-8 pb-36">
    <ProjectCard
      title="Aloharmony"
      description="Meditation platform with 16k users. Built full ecosystem including mobile apps, backend APIs and cloud infrastructure."
      stack="React Native - Next.js - NestJS - AWS - Stripe"
    />

    <ProjectCard
      title="Subliful"
      description="Mobile platform developed with React Native and GraphQL APIs."
      stack="React Native - GraphQL - Node"
    />

    <ProjectCard
      title="Viablee"
      description="E-commerce platform with PayPal and credit card payment integrations."
      stack="Node.js - PayPal - Authorize.net"
    />

    <ProjectCard
      title="Ninifarm"
      description="Analytics system integrated with a Discord bot that calculated message activity and visualized user metrics."
      stack="React - GraphQL - Discord API"
    />
  </div>
</Layout>
