<nav class="w-full flex justify-between items-center py-6">
  <h1 class="text-xl font-bold text-red-200">Daniel Suarez</h1>

  <div class="flex gap-6">
    <a href="/" class="hover:text-indigo-500">Home</a>
    <a href="/projects" class="hover:text-indigo-500">Projects</a>
    <a href="https://linkedin.com/in/dinels">LinkedIn</a>
  </div>
</nav>
